<script src="../download/font_suy8x0lo4sq/iconfont.js"></script>
<div class="items-right-view1">
    <div class="gengxin">
        <div>
            <div ng-click="onJumpPage('#!/view1')">系统</div>
            <div>>电池和电源</div>
        </div>
        <div id="main" style="width:600px;height:400px;"></div>
    </div>
    <div class="more-choise">
        <div class="more">
            <span class="stitle">电源</span>
            <card icon="{{card.icon}}" title="{{card.title}}" describe="{{card.describe}}" ng-repeat="card in electricFirstList">
                <div ng-if="card.drop" class="select"><select name="平衡">
                        <option value="暂停一周">最佳能效</option>
                        <option value="暂停一月" selected="selected">平衡</option>
                        <option value="暂停一年">最佳性能</option>
                    </select>
                </div>
                <img src="{{card.href}}" alt="">
            </card>
        </div>
        <div class="more">
            <span class="stitle">电池</span>
            <card icon="{{card.icon}}" title="{{card.title}}" describe="{{card.describe}}" ng-repeat="card in electricSecondList">
                <span ng-if="card.drop">在20%时开启</span>
                <img src="{{card.href}}" alt="">
            </card>
        </div>
        <div class="fankui-help">
            <div><img src="./font/wenhao.png" alt=""><span>获取帮助</span></div>
            <div>
                <img src="./font/fankui.png" alt=""><span>提供反馈</span>
            </div>
        </div>
    </div>
</div>
