<script src="../download/font_suy8x0lo4sq/iconfont.js"></script>
<div class="items-right-view1">
    <div class="gengxin">
        <div>
            <div ng-click="onJumpPage('#!/view1')">系统&nbsp;</div>
            <div>> 屏幕</div>
        </div>
    </div>
    <div class="more-choise">
        <div class="more">
            <span class="stitle">亮度和颜色</span>
            <card icon="{{card.icon}}" title="{{card.title}}" describe="{{card.describe}}" ng-repeat="card in screenFirstList">
                <demoswitch ng-model="m.switch0" ng-if="card.drop"></demoswitch>
                <img src="{{card.href}}" alt="">
            </card>
        </div>
        <div class="more">
            <span class="stitle">缩放和布局</span>
            <card icon="./font/50_xitongxinxi.png" title="缩放" describe="更改文本、应用和其他项目的大小">
                <selectdrop class="select" drop="drop[0]" url="http://127.0.0.1:5500/API/scale.json"></selectdrop>
                <img src="./font/Chevron-Right.png" alt="">
            </card>
            <card icon="./font/bijibendiannao.png" title="显示器分辨率" describe="调整分辨率以适合所连接的显示器">
                <div class="select"><select name="">
                        <option value="">2560*1600(推荐)</option>
                    </select>
                </div>
            </card>
            <card class="colorgrey" icon="./font/chanyeyingyongxitong.png" title="显示方向" describe="">
                <selectdrop class="select" drop="drop[0]" url="http://127.0.0.1:5500/API/direction.json"></selectdrop>
            </card>
            <card icon="./font/yinsibaohu.png" title="多显示器" describe="选择显示器的呈现模式">
                <img src="./font/Chevron-Right.png" alt="">
            </card>
        </div>
        <div class="more">
            <span class="stitle">相关设置</span>
            <card icon="./font/50_xitongxinxi.png" title="高级显示器设置" describe="显示器信息，刷新率">
                <img src="./font/Chevron-Right.png" alt="">
            </card>
            <card icon="./font/bijibendiannao.png" title="显示卡" describe="">
                <img src="./font/Chevron-Right.png" alt="">
            </card>
        </div>
        <div class="fankui-help">
            <div><img src="./font/wenhao.png" alt=""><span>获取帮助</span></div>
            <div>
                <img src="./font/fankui.png" alt=""><span>提供反馈</span>
            </div>
        </div>
    </div>
</div>