<div class="items-right-view1">
    <!-- 1.第一行更新 -->
    <div class="gengxin">
        <p>时间和语言>输入</p>
    </div>

    <!-- 第二部分 -->
    <div class="more-choise">
        <!-- 键入键盘 -->
        <div class="more">
            <div class="card">
                <div class="img"><img src="./font/stop.png" alt=""></div>
                <div class="span"><span>键入键盘</span></div>
                <div class="left"><img src="./font/Chevron-Right.png" alt=""></div>
            </div>
            <!-- 文本建议 -->
            <div class="card">
                <div class="img"><img src="./font/stop.png" alt=""></div>
                <div class="span">
                    <span class="title">在物理键盘上键入时显示文本建议</span>
                    <span class="describe">应用将以此列表中支持的第一种语言显示</span>
                </div>
                <div class="left">
                    <div class="switch">
                        <demoswitch ng-model="m.switch0" ></demoswitch>
                    </div>
                </div>
            </div>
            <!-- 多语言文本建议 -->
            <div class="card">
                <div class="img"><img src="./font/stop.png" alt=""></div>
                <div class="span">
                    <span class="title">多语言文本建议</span>
                    <span class="describe">根据我的语音首选项显示文本建议</span>
                </div>
                <div class="left">
                    <div class="switch">
                        <demoswitch ng-model="m.switch1"></demoswitch>
                    </div>
                </div>
            </div>
            <!-- 键入见解 -->
            <div class="card">
                <div class="img"><img src="./font/stop.png" alt=""></div>
                <div class="span">
                    <span class="title">键入见解</span>
                    <span class="describe">查看键入和更正历史记录</span>
                </div>
                <div class="left"><img src="./font/Chevron-Right.png" alt=""></div>
            </div>
            <!-- 高级键盘设置 -->
            <div class="card">
                <div class="img"><img src="./font/stop.png" alt=""></div>
                <div class="span">
                    <span class="title">高级键盘设置</span>
                    <span class="describe">查看键入和更正历史记录</span>
                </div>
                <div class="left"><img src="./font/Chevron-Right.png" alt=""></div>
            </div>
        </div>
        <!-- 相关设置-->
        <div class="more">
            <span class="stitle">相关设置</span>
            <div class="card">
                <div class="img"><img src="./font/stop.png" alt=""></div>
                <div class="span">
                    <span class="title">语言和区域</span>
                    <span class="describe">语言包、区域格式</span>
                </div>
                <div class="left"><img src="./font/Chevron-Right.png" alt=""></div>
            </div>

            <div class="card">
                <div class="img"><img src="./font/stop.png" alt=""></div>
                <div class="span">
                    <span class="title">墨迹书写和键入个性化</span>
                    <span class="describe">个人字典</span>
                </div>
                <div class="left"><img src="./font/Chevron-Right.png" alt=""></div>
            </div>

            <div class="card">
                <div class="img"><img src="./font/stop.png" alt=""></div>
                <div class="span">
                    <span class="title">文本光标</span>
                    <span class="describe">颜色、大小、粗细</span>
                </div>
                <div class="left"><img src="./font/Chevron-Right.png" alt=""></div>
            </div>
        </div>
        <!-- 获取帮助 -->
        <div class="fankui-help">
            <div><img src="./font/wenhao.png" alt=""><span>获取帮助</span></div>
            <div>
                <img src="./font/fankui.png" alt=""><span>提供反馈</span>
            </div>

        </div>
    </div>
</div>