<script src="../download/font_suy8x0lo4sq/iconfont.js"></script>
<div class="items-right-view1">
    <div class="gengxin">
        <div>
            <div ng-click="onJumpPage('#!/view1')">系统</div>
            <div>>存储</div>
        </div>
    </div>
    <div class="more-choise">
        <div class="more">
            <span class="stitle">存储管理</span>
            <card icon="{{card.icon}}" title="{{card.title}}" describe="{{card.describe}}" ng-repeat="card in storageFirstList">
                <demoswitch ng-model="m.switch0" ng-if="card.drop"></demoswitch>
                <img src="{{card.href}}" alt="">
            </card>
        </div>
        <div class="fankui-help">
            <div><img src="./font/wenhao.png" alt=""><span>获取帮助</span></div>
            <div>
                <img src="./font/fankui.png" alt=""><span>提供反馈</span>
            </div>
        </div>
    </div>
</div>
